*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.navbar li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

li, a, button{
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: rgb(26, 25, 25);
}

.menu-items:hover {
    color: rgb(249, 154, 29);
}

.signup-btn, .login-btn{
    border: 1px solid rgb(249, 132, 29);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgb(244, 88, 41);
    color: white;
}

.signup-btn:hover, .login-btn:hover{
    color: black;
}

#hero{
    display: flex;
    width: 100%;
}

#left-container{
    float: left;
    width: 50%;
}

#left-content{
    margin-left: 5%;
    margin-top: 1%;
    padding-top: 10%;
}

#left-content h1{
    color: rgb(249, 132, 29);
    font-weight: 700;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#left-content h4{
    color: rgb(40, 40, 40);
    font-weight: 600;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#left-content p{
    color: rgb(56, 56, 56);
    margin-top: 2%;
    margin-bottom: 2%;
}

#book-btn{
    border: 1px solid rgb(249, 132, 29);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgb(244, 88, 41);
    color: white;
}

#book-btn:hover{
    border: 1px solid rgb(249, 132, 29);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgb(255, 137, 19);
    color: white;
}

#right-container{
    width: 750px;
}

#hero-img{
    border-radius: 20px;
    box-shadow: 6px 8px 20px rgb(82, 82, 82);
}